/* Añade una regla de estilo para el cuerpo del documento */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Establece un ancho máximo para el encabezado */
  header {
    max-width: 100%;
  }
  
  /* Añade reglas de estilo para el encabezado en dispositivos móviles */
  @media (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    header h2 {
      margin: 10px 0;
      text-align: center;
    }
  
    nav {
      margin-top: 10px;
    }
  }
  
  /* Añade reglas de estilo para la galería en dispositivos móviles */
  @media (max-width: 600px) {
    #gallery {
      margin: 20px;
    }
  
    .thumbnail {
      width: 100%;
      height: auto;
    }
  }
  
